html, body, #container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  display: block;
  height: 88vh; /* Mantener el 88% de la altura de la pantalla */
  width: 100%;
}

/* Evitar que Leaflet oculte elementos encima del mapa */
.leaflet-container {
  z-index: 0 !important; /* Asegura que el mapa no esté por encima de otros elementos */
  pointer-events: auto !important; /* Permite la interacción con elementos debajo del mapa */
}

/* Asegurar que el main ocupa todo el espacio y que no tiene padding */
main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav.navbar {
  flex-shrink: 0; /* Asegura que el navbar no colapse */
}



#map {
  flex-grow: 1; /* El mapa ocupará todo el espacio restante */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  #map {
    height: 75vh; /* En pantallas pequeñas, reduce la altura para mostrar más contenido */
  }

  nav.navbar {
    height: auto;
  }
}

.nav-item a {
  text-decoration: none; /* Elimina el subrayado */
  color: #6c757d; /* Gris para el estado inactivo */
}

.nav-item a:hover {
  color: #000000; /* Negro cuando el enlace es hovered */
  text-decoration: none; /* Asegura que no haya subrayado en hover */
}



/* Estilo inicial para el select */
.nav-item select {
  background-color: #f8f9fa; /* Gris claro (fondo inactivo) */
  color: #6c757d; /* Gris para el texto */
  border: none; /* Eliminar borde */
  outline: none; /* Eliminar el contorno */
  padding: 5px 10px; /* Espaciado dentro del select */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Efecto de transición para el hover */
}

/* Estilo cuando el select está en hover */
.nav-item select:hover {
  background-color: #e2e6ea; /* Gris oscuro para el hover */
  color: #000; /* Color negro para el texto cuando se hace hover */
}

/* Estilo cuando el select tiene el foco (cuando el usuario hace clic en él) */
.nav-item select:focus {
  background-color: #e2e6ea; /* Gris oscuro para el foco */
  color: #000; /* Texto negro */
  box-shadow: none; /* Elimina cualquier sombra de enfoque predeterminada */
}


